{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section >
<style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 800px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
<div class="card mb-3">
<div class="row g-0 d-flex align-items-center">
 <div class="col-lg-4 d-none d-lg-flex">
        <img src={{ asset('media/analyse_app.jpg') }} alt="Analysis"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
       <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
    <h1> <i>Réinitialisation de mot de passe</i> </h1>
      {{ form_start(passForm) }}
      {{ form_row(passForm.password) }}
<button type="submit" class="btn btn-primary">Envoyer</button>
      {{ form_end(passForm) }}


</div>
</div>
</section>
{% endblock %}