{# <h1>Activez votre compte</h1> #}
{# <p>Bonjour {{ user.fullName }},</p> #}
{# <p>Votre inscription sur l'application Analysis est à valider en cliquant sur le lien ci-dessous :</p> #}
{# <p><a href="{{ absolute_url(path('verify_user', {token: token})) }}"></a></p> #}
{# <p>Ce lien expirera dans 3 heures</p> #}

<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
