{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1>Tableau de bord Analysis</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet aperiam aut cum deleniti distinctio
        facilis illo iste laboriosam minima mollitia obcaecati provident quibusdam reiciendis, veniam veritatis vero
        voluptates. </p>
{% endblock %}
