<p>Bonjour {{ user.prenom }} {{ user.nom }}</p>
<p> Pour Votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</p>
<p>Merci</p>